.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.swapIcon {
    cursor: pointer;
    width: 26px;
    height: 26px;
    align-self: center;
}

.convRate{
    width: 330px;
    background-color: #333;
    input, label{
        color: white;
    }
}