@keyframes scrollAnimation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.scrollContainer {
    position: relative;
    z-index: 20;
    overflow: hidden;
    maxWidth: 7x1;
    mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent)
}

.scrollContent {
    display: flex;
    min-width: 200%;
    gap: 20px;
    padding-top: 15px;
    flex-wrap: nowrap;
    animation: scrollAnimation 50s linear infinite;
}

.rateCard {
    width: 350px;
    background-color: #333 !important;
    height: 55px;
    display: flex;
    align-items: center;
    max-width: 100%;
    border: 1px solid #2d3748;
    padding: 16px;
    flex-shrink: 0;
}

.typography{
    color: white;
}
